<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
        				https://www.springframework.org/schema/context/spring-context.xsd">
                    	
    
    <bean id="address" class="springcore5.Address">
    	<property name="street" value= "Kukatpally"/>
    	<property name="city" value="Hyderabad"/>
    	<property name="state" value="Telangana"/>
    	<property name="zip" value="50008"/>
    	<property name="country" value="India"/>
    </bean>
    
    <bean id="customer" class="springcore5.Customer">
    	<property name="id" value="534"/>
    	<!-- <property name="Address" ref="address"/> -->
    </bean>
    
    <bean id="samee" class="springcore5.CustomerContact">
    	<property name="name" value="Sunitha"/>
    	<property name="contact" value="999968725"/>
    </bean>
    
    <context:annotation-config/>
    <context:component-scan base-package="springcore5"/>
    
</beans>