<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/util
                    	http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="address" class="springcore10.Address">
    	<property name="street" value="Kukatpally"/>
    	<property name="city" value="Hyderabad"/>
    	<property name="state" value="Telangana"/>
    	<property name="zip" value="500008"/>
    	<property name="country" value="India"/>
    </bean>
    
    <bean id="customer" class="springcore10.Customer">
    	<property name="id" value="534"/>
    	<property name="name" value="Sunitha"/>
    	<property name="contact" value="999968725"/>
    	<property name="Address" ref="address"/>
    </bean>
    
</beans>