<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<!--<bean id="customer" class="com.springcode.Customer">
    <property name="customerId" value="1001"></property>
    <property name="customerName" value="Sunitha"></property>
    <property name="customerContact" value="868686456"></property>
    <property name="customerAddress" ref="Address"></property>
    </bean>-->
    <bean id="Customer" class="com.springcode.Customer">
    	<constructor-arg value="1001"></constructor-arg> 
    	<constructor-arg value="Sunitha"></constructor-arg> 
    	<constructor-arg value="868686456"></constructor-arg> 
    	<constructor-arg ref="Address"></constructor-arg>  
    
	</bean>  
    <bean id="Address" class="com.springcode.Address">
    <constructor-arg  value="Kukatpally"></constructor-arg> 
    <constructor-arg  value="Hyderabad"></constructor-arg> 
    <constructor-arg  value="Telangana"></constructor-arg> 
    <constructor-arg  value="India"></constructor-arg>  
    <constructor-arg  value="500025"></constructor-arg> 
    </bean>
     
</beans>